%h1 Report

- @hosts.each do |x|
	%h2= x.name
	- @hosts.each do |y|
		- rules = Rule.find_all_by_source_host_id_and_target_host_id(x.id, y.id)
		- if rules.present?
			%ul
				%li
					="#{x.hostname} => #{y.hostname}"
					- rules.each do |r|
						= r.source_port
